<header>
    <div>
        <a href="/"><h1>Guess the temperature</h1></a>
        <p>/commands</p>
    </div>

    <div id="timer__container">
        <p>Time left</p> 
        <span id="time">10</span>
    </div>
</header>