@import './components/transitions',
        './components/fonts',
        './components/colors',
        './components/header';

html {
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: Muli-Light, sans-serif;
}

#messages__container {
    padding: 2em;
    min-height: 77vh;
}

form {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 4em;
    display: flex;
    justify-content: space-between;
    border-top: 4px solid #eef5f8;
    background-color: white;

    & #input {
        width: 70%;
        height: 100%;
        box-sizing: border-box;
        padding-left: 2em;
        color: black;
        border: none;
        outline: none;
        font-family: Muli-Medium, sans-serif;
        font-size: 1em;

        &::placeholder {
            color: #bbbbbb;
        }
    }

    & input[type="submit"] {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 29%;
        height: 100%;
        color: #585858;
        background-color: white;
        border: none;
        cursor: pointer;
        outline: none;
        border-left: 4px solid #eef5f8;
        font-family: Muli-Bold, sans-serif;
        transition: 200ms ease-in-out;

        &:hover {
            background-color: #eef5f8;
        }
    }
}

#messages__container {
    padding-top: 6em;
    padding-bottom: 5em;
    padding: 7em 1em 4.5em 1em;

    & #online-users__container {
        position: fixed;
        margin-top: .5em;
        background-color: white;
        display: flex;
        padding: 0em 1em;
        border-radius: 5px;

        & p {
            display: inline;
            line-height: .5em;
        }
    }
}

.outer-message {
    overflow-x: hidden;
    background-color: #eef5f8;
    padding: 0em 1em;
    border-radius: 10px;
    margin: .75em 0em;
    width: fit-content;
}

.message {
    color: black;
}

// Text colors
.joined {
    background-image: linear-gradient(to top, #35f58f , #a2ffb9);
    margin-left: auto;

    & p {
        color: black;
    }
}

.connected {
    background-image: linear-gradient(to top, #35f58f , #a2ffb9);
}

.your-message {
    background-image: linear-gradient(to top, #8243ed , #b734f9);
    margin-left: auto;
    
    & p {
        color: white;
    }
}

.error-message {
    margin-left: auto;
    background-color: white;
    
    & p {
        color: #8243ed;
    }
}

.disconnected {
    background-color: #eef5f8;

    & p {
        color: #9e9e9e;
    }
}

.server-message {
    background-image: linear-gradient(to top, #363636 , #686868);
    border-left: 7px solid #8243ed;

    & p {
        color: white;
    }
}

@media screen and (max-width: 420px) {
    header h1 {
        font-size: 1.8em;
    }

    #messages__container {
        padding-top: 8em;
    }

    #messages__container #online-users__container {
        margin-top: -1.2em;
    }
}

@media screen and (max-width: 374px) {
    #messages__container #online-users__container {
        margin-top: 1em;
    }
}

@media screen and (width: 374px) {
    #messages__container #online-users__container {
        margin-top: -1.2em;
    }
}