<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Unique word chat app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/dist/styles.css">
</head>
    <body>
        <body>
            {{{body}}}
        </body>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/main.js"></script>
        <script src="https://sdk.scdn.co/spotify-player.js"></script>
        {{!-- <script>
            window.onSpotifyWebPlaybackSDKReady = () => {
            const token = 'BQCRdmZD1s4kqkTgmVMS2egPr5zg5CLAsSUvh3VuTlJzcVDG2vAXPcfO7QStnIyRPeLQuVNe1nIxfaSbwqadv0jfItSzWnWRE-fodBJ0f3HvLrrXjE5tnQNmv8lnMxjrw9pGaO9F4hoH5ExBftF2jq55xzay2awmhcI';
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); }
            });

            // Error handling
            player.addListener('initialization_error', ({ message }) => { console.error(message); });
            player.addListener('authentication_error', ({ message }) => { console.error(message); });
            player.addListener('account_error', ({ message }) => { console.error(message); });
            player.addListener('playback_error', ({ message }) => { console.error(message); });

            // Playback status updates
            player.addListener('player_state_changed', state => { console.log(state); });

            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
            });

            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            // Connect to the player!
            player.connect();
            };
        </script> --}}
    </body>
</html>