<div id="join__container">
    <a href="/game" id="join">Join the game!</a>
</div>

{{!-- <a href="/game" id="room1" class="roomButton">
    <div>Room 1</div>
</a>

<a href="/game" id="room2" class="roomButton">
    <div>Room 2</div>
</a> --}}

<script src="/js/chooseRoom.js"></script>