<input id="username" type="text">
<button type="button" id="test"></button>

<a href="/game" id="room1" class="roomButton">
    <div>Room 1</div>
</a>

<a href="/game" id="room2" class="roomButton">
    <div>Room 2</div>
</a>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chooseRoom.js"></script>