{{> header}}

<div id="messages__container"></div>

<form id="form" method="post">
    <input autocomplete="off" id="input" placeholder="Type your message..." type="text">
    <input type="submit" id="send" value="Send">
</form>