@font-face {
    font-family: Muli-Light;
    font-display: swap;
    src: url(/fonts/Muli-Light.ttf);
}

@font-face {
    font-family: Muli-Regular;
    font-display: swap;
    src: url(/fonts/Muli-Regular.ttf);
}

@font-face {
    font-family: Muli-Medium;
    font-display: swap;
    src: url(/fonts/Muli-Medium.ttf);
}
  
@font-face {
    font-family: Muli-Bold;
    font-display: swap;
    src: url(/fonts/Muli-Bold.ttf);
}