header {
    margin: -22px 0 0 0;
    background-image: linear-gradient(to right, #8243ed , #b734f9);
    position: relative;
    height: 8em;
    width: 100%;
    display: flex;
    justify-content: space-between;

    & h1 {
        margin: 0;
        padding: 1.5em 1em 1em 1em;
        font-family: Muli-Bold, sans-serif;
        width: fit-content;
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & div:first-of-type p {
        color: #d3d3d3;
        width: fit-content;
        margin: -1.75em 0em 1em 2em;
    }
}

#timer__container {
    background-color: #d9e5eb;
    padding: 1em;
    width: fit-content;
    box-sizing: border-box;
    margin: 0;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    display: none;
    flex-direction: column;

    & span {
        font-size: 1.2em;
    }
}

#time {
    margin: 0 auto;
}